
/*:root{

--lightText: 	#f2c300;
/*background: url(USS1.jpg) no-repeat fixed scroll center*/

}

body{
    background: url(USS1.jpg) no-repeat fixed scroll center;



}

nav{
    display:inline;
    justify-content: center;

}


a {



}


.Name{
    display: flex;
    align-items: flex-end;
    justify-content: left;
    color: var(--lightText);



}


.Skills{

    display: flex;
    align-items: flex-start;
    justify-content: right;
    color: var(--lightText);


}







